@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');

* {
  font-family: 'Josefin Sans', sans-serif;
  color: #282828;
  box-sizing: border-box;
}

html {
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

  &.no-scroll {
    overflow: hidden;
    height: 100vh;
    margin: 0;
  }

  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    header {
      position: fixed;
      top: 5px;
      height: 3em;
      left: 40px;
      z-index: 10;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 12em;
      transition: top 0.3s linear;

      &.hide {
        top: -100px;
      }

      .logo {
        position: absolute;
        top: 5px;
        left: -20px;
        padding: 2em;
        border-radius: 2px;
        background-image: url('../images/logo.png');
        background-size: cover;
        background-position: center;
        width: 3em;
        height: 3em;
      }

      .main-navigation {
        ul {
          li {
            list-style-type: none;

            a {
              font-weight: bold;
              text-decoration: none;
              color: black;
              transition: color 0.3s ease-in;

              &:hover {
                cursor: pointer;
                color: whitesmoke;
              }
            }
          }
        }

        /* Selected page nav link */
        .current-menu-item {
          a {
            color: lightgray;
          }
        }
      }

      .social-media {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2em;

        a {
          font-size: 1.8rem;
          transition: transform 0.3s linear;

          i {
            color: #002244;
          }

          &:hover {
            cursor: pointer;
            transform: scale(1.1);
          }
        }
      }
    }

    main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      background-image: url('../images/heading-photo.jpg');
      background-size: cover;
      background-position: center;
      height: 100vh;
      width: 100vw;
      position: fixed;
      top: 0;
      left: 0;

      .heading-section {
        padding: 5em;

        .heading {
          margin-bottom: 4em;
          display: flex;
          flex-direction: column;
          justify-content: center;

          .heading-title {
            font-size: 6rem;
            color: white;
            transform: translateX(-100%);
            transition: transform 0.8s ease;

            &.slide {
              transform: translateX(0);
            }
          }

          .heading-subtitle {
            margin-top: -2em;
            color: white;
            font-size: 1.5rem;
            transform: translateX(100%);
            transition: transform 0.8s ease;

            &.slide {
              transform: translateX(0);
            }
          }
        }
      }
    }

    .container {
      /* ABOUT */
      .bg-image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url('../images/about-hero.jpg');
        background-size: cover;
        background-position: center;
        height: 80vh;
        width: 100vw;
        margin-top: -55px;

        h1 {
          font-size: 5rem;
          font-weight: normal;
        }
      }

      .about-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10em;

        h2 {
          font-size: 4rem;
        }

        .history {
          margin: 5em;
          padding: 2em;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 2em;

          .content-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2em;

            p {
              line-height: 180%;
              font-size: 1.2rem;
              align-self: flex-start;
            }

            .image {
              width: 65%;
              height: 65%;
              border-radius: 2px;
            }
          }
        }

        .feed {
          margin: 5em;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 2em;

          p {
            line-height: 180%;
            font-size: 1.2rem;
            text-align: center;
          }

          .feed-images {
            padding: 3em;
            display: flex;
            flex-wrap: wrap;
            gap: 4em;

            img {
              width: 80%;
              height: 80%;
              border-radius: 2px;
            }
          }
        }
      }

      .contact-image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url('../images/contact.jpg');
        background-size: cover;
        background-position: center;
        height: 80vh;
        width: 100vw;
        margin-top: -55px;

        h1 {
          font-size: 5rem;
          font-weight: normal;
        }
      }

      .contact-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5em;
        margin-bottom: 20em;

        .form-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;

          h2 {
            margin: 1em;
            font-size: 4rem;
          }

          .message {
            font-size: 1.3rem;
            font-weight: bold;
            padding: 1em;
          }

          .contact-form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1em;
            width: 70%;
            position: relative;
            z-index: 8;

            input,
            textarea {
              font-family: 'Josefin Sans', sans-serif;
              border-radius: 2px;
              margin: 0.5em;
              padding: 1em;
              border: 0.5px solid gray;
            }

            .submit-btn {
              border: none;
              padding: 1.5em;
              border-radius: 2px;
              background-color: lightgray;
              font-weight: bold;
              text-transform: uppercase;
              opacity: 1;
              background-color: lightgray;
              transition: background-color 0.2s ease-in;

              &:hover {
                background-color: gainsboro;
                cursor: pointer;
              }
            }
          }
        }

        .location-wrapper {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          h2 {
            margin: 2em;
            font-size: 4rem;
          }

          .location-container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 6em;
            width: 40em;

            .map-container {
              position: relative;
              z-index: 0;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 60%;
            }
          }
        }
      }

      .menu-image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url('../images/menu-hero.jpg');
        background-size: cover;
        background-position: center;
        height: 80vh;
        width: 100vw;
        margin-top: -55px;

        h1 {
          font-size: 5rem;
          font-weight: normal;
        }
      }

      .menu-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3em;
        margin-bottom: 10em;

        h2 {
          margin: 2em;
          font-size: 4rem;
          text-align: center;
        }

        img {
          width: 80%;
          height: 80%;
          border-radius: 2px;
        }

        .images-wrapper {
          margin: 2em;
          padding: 1em;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 1em;

          div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 36em;
            height: 24em;

            img {
              border-radius: 2px;
            }
          }
        }
      }
    }
  }

  footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 100%;
    height: 3em;
    padding: 1em;
  }
}

/* MOBILE */
@media screen and (min-width: 320px) {
  html {
    font-size: 50%;

    header {
      .logo {
        display: none;
      }

      .hamburger {
        position: fixed;
        left: 0;
        top: 10px;
        z-index: 30;
        padding: 1em;
        width: 40px;
        height: 40px;

        &:hover {
          cursor: pointer;
        }

        div {
          position: relative;
          width: 100%;
          height: 4px;
          background-color: black;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all 0.2s ease-in-out;
          border-radius: 5px;

          &::before,
          &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 4px;
            background: black;
            border-radius: 5px;
            transition: all 0.2s ease-in-out;
          }

          &::before {
            transform: translateY(-8px);
          }

          &::after {
            transform: translateY(8px);
          }
        }

        &.clicked div {
          transform: translateX(-50px);
          background-color: transparent;
        }

        &.clicked div::before {
          transform: rotate(45deg) translate(35px, -35px);
        }

        &.clicked div::after {
          transform: rotate(-45deg) translate(35px, 35px);
        }
      }

      .social-media {
        flex-direction: column;
        position: fixed;
        right: 15px;
        top: 10px;
        gap: 0.5em;
      }

      .main-navigation {
        background: white;
        width: 100vw;
        min-height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 20;
        transform: translateX(-100%);
        opacity: 0;
        transition: transform 300ms ease-in, opacity 300ms ease-in;

        ul {
          padding: 10em;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 10em;

          li {
            padding: 1em;
            list-style-type: none;
          }
        }

        &.show {
          transform: translateX(0);
          opacity: 1;

          @keyframes fadeIn {
            0% {
              opacity: 0;
              transform: translateX(-100%);
            }

            75% {
              opacity: 0.5;
            }

            100% {
              opacity: 1;
              transform: translateX(0);
            }
          }

          ul {
            li {
              animation: fadeIn ease-in-out 0.3s forwards;

              &:nth-child(1) {
                animation-delay: 100ms;
              }

              &:nth-child(2) {
                animation-delay: 200ms;
              }

              &:nth-child(3) {
                animation-delay: 300ms;
              }

              &:nth-child(4) {
                animation-delay: 400ms;
              }
            }
          }
        }
      }
    }

    main {
      .heading {
        padding-bottom: 10em;
      }
    }

    .location-container,
    .content-wrapper,
    .feed-images {
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
}

@media screen and (min-width: 480px) {
  html {
    font-size: 70%;

    header {
      .hamburger {
        width: 8%;
      }
    }
  }
}

/* TABLET */
@media screen and (min-width: 768px) and (orientation: portrait) {
  html {
    font-size: 85%;

    header {
      .hamburger {
        width: 7%;
      }

      .main-navigation {
        ul {
          gap: 13em;
        }
      }
    }
  }
}

// /* DESKTOP & TABLET LANDSCAPE */
@media screen and (min-width: 992px) {
  html {
    font-size: 95%;

    header {
      .logo {
        display: block;
        z-index: 10;

        &:hover {
          cursor: pointer;
        }
      }

      .hamburger {
        visibility: hidden;
        display: none;
      }

      .main-navigation {
        position: relative;
        width: auto;
        height: 5em;
        top: -140px;
        left: -150px;
        min-height: 4em;
        visibility: visible;
        opacity: 1;
        transform: initial;
        background-color: transparent;
        z-index: 0;

        ul {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 7em;
          height: 5em;

          li {
            list-style-type: none;

            a {
              font-size: 0.9rem;

              &:hover {
                cursor: pointer;
                text-decoration: underline;
                text-underline-offset: 8px;
              }
            }
          }
        }
      }
    }

    .location-container,
    .content-wrapper {
      flex-direction: row;
    }
  }
}

/* LARGE SCREENS */
@media screen and (min-width: 1200px) {
  html {
    font-size: 100%;

    header {
      .main-navigation {
        left: -250px;
        ul {
          gap: 5em;

          li {
            font-size: 4rem;
          }
        }
      }

      .social-media {
        padding-top: 0.5em;
        flex-direction: row;
        float: right;
      }
    }
  }
}

@media screen and (min-width: 1920px) {
  html {
    header {
      .main-navigation {
        left: 0;
        ul {
          gap: 15em;
        }
      }
    }
  }
}
