@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,600;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap");
* {
  font-family: "Josefin Sans", sans-serif;
  color: #383838;
  box-sizing: border-box;
}

html {
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
html.no-scroll {
  overflow: hidden;
  height: 100vh;
  margin: 0;
}
html body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
html body header {
  position: fixed;
  top: 5px;
  height: 3em;
  left: 40px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12em;
  transition: top 0.3s linear;
}
html body header.hide {
  top: -200px;
}
html body header .logo {
  position: absolute;
  top: 5px;
  left: -20px;
  padding: 2em;
  border-radius: 2px;
  background-image: url("../images/logo.png");
  background-size: cover;
  background-position: center;
  width: 3em;
  height: 3em;
}
html body header .main-navigation {
  /* Selected page nav link */
}
html body header .main-navigation ul li {
  list-style-type: none;
  text-shadow: 0.5px 0.5px 0.5px gray;
}
html body header .main-navigation ul li a {
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
}
html body header .main-navigation ul li a:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 10px;
}
html body header .main-navigation .current-menu-item a {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 10px;
}
html body header .social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5em;
  gap: 2em;
}
html body header .social-media a {
  font-size: 1.5rem;
  transition: transform 0.3s linear;
}
html body header .social-media a i {
  color: #002244;
}
html body header .social-media a:hover {
  cursor: pointer;
  transform: scale(1.1);
}
html body main {
  background-image: url("../images/heading-photo.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}
html body main .heading-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
html body main .heading-section .heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(-200px);
  transition: transform 0.8s ease;
}
html body main .heading-section .heading.active {
  transform: translateX(0);
}
html body main .heading-section .heading .heading-title {
  font-size: 6rem;
  color: white;
  text-shadow: 1px 1px 1px gray;
}
html body main .heading-section .heading .heading-subtitle {
  margin-top: -1.5em;
  color: white;
  font-size: 1.5rem;
  text-shadow: 1px 1px 1px gray;
}
html body main .heading-section .heading .homepage-btn {
  background-color: #a0522d;
  box-shadow: 0 0 8px #282828;
  color: whitesmoke;
  font-weight: bold;
  width: 30%;
  margin-top: 2em;
  padding: 1em;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.6s ease;
}
html body main .heading-section .heading .homepage-btn:hover {
  background-color: burlywood;
}
html body .container .about-hero-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/about-hero.jpg");
  background-size: cover;
  background-position: center;
  height: 80vh;
  width: 100vw;
  margin-top: -55px;
  transform: translateY(100px);
  transition: transform 0.9s ease;
}
html body .container .about-hero-image.active {
  transform: translateY(0);
}
html body .container .about-hero-image h1 {
  font-size: 5rem;
  font-weight: normal;
}
html body .container .about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10em;
}
html body .container .about-container h2 {
  font-size: 4rem;
  margin-bottom: 2em;
}
html body .container .about-container .history {
  margin: 5em;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  transform: translateY(100px);
  transition: transform 0.9s ease;
}
html body .container .about-container .history.active {
  transform: translateY(0);
}
html body .container .about-container .history .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
html body .container .about-container .history .content-wrapper p {
  line-height: 180%;
  font-size: 1.2rem;
  align-self: flex-start;
}
html body .container .about-container .history .content-wrapper .image {
  width: 65%;
  height: 65%;
  border-radius: 2px;
}
html body .container .about-container .feed {
  margin: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  transform: translateY(100px);
  transition: transform 0.9s ease;
}
html body .container .about-container .feed.active {
  transform: translateY(0);
}
html body .container .about-container .feed p {
  line-height: 180%;
  font-size: 1.2rem;
  text-align: center;
}
html body .container .about-container .feed .feed-images {
  padding: 3em;
  display: flex;
  flex-wrap: wrap;
  gap: 4em;
}
html body .container .about-container .feed .feed-images img {
  width: 80%;
  height: 80%;
  border-radius: 2px;
}
html body .container .contact-hero-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/contact.jpg");
  background-size: cover;
  background-position: center;
  height: 80vh;
  width: 100vw;
  margin-top: -55px;
  transform: translateY(100px);
  transition: transform 0.9s ease;
}
html body .container .contact-hero-image.active {
  transform: translateY(0);
}
html body .container .contact-hero-image h1 {
  font-size: 5rem;
  font-weight: normal;
}
html body .container .contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5em;
  margin-top: 4em;
  margin-bottom: 20em;
  transform: translateY(100px);
  transition: transform 0.9s ease;
}
html body .container .contact-container.active {
  transform: translateY(0);
}
html body .container .contact-container .form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
html body .container .contact-container .form-container h2 {
  margin: 1em;
  font-size: 4rem;
}
html body .container .contact-container .form-container .message {
  font-size: 1.3rem;
  font-weight: bold;
  padding: 1em;
}
html body .container .contact-container .form-container .contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  width: 70%;
  position: relative;
  z-index: 8;
}
html body .container .contact-container .form-container .contact-form input,
html body .container .contact-container .form-container .contact-form textarea {
  font-family: "Josefin Sans", sans-serif;
  border-radius: 2px;
  margin: 0.5em;
  padding: 1em;
  border: 0.5px solid gray;
}
html body .container .contact-container .form-container .contact-form textarea {
  resize: none;
}
html body .container .contact-container .form-container .contact-form .submit-btn {
  border: none;
  padding: 1.5em;
  border-radius: 2px;
  font-weight: bold;
  box-shadow: 0 0 5px gray;
  background-color: lightgray;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: background-color 0.4s ease;
}
html body .container .contact-container .form-container .contact-form .submit-btn:hover {
  background-color: gainsboro;
  cursor: pointer;
}
html body .container .contact-container .location-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html body .container .contact-container .location-wrapper h2 {
  margin: 2em;
  font-size: 4rem;
}
html body .container .contact-container .location-wrapper .location-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6em;
}
html body .container .contact-container .location-wrapper .location-container .map-container {
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
html body .container .menu-hero-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/menu-hero.jpg");
  background-size: cover;
  background-position: center;
  height: 80vh;
  width: 100vw;
  margin-top: -55px;
  transform: translateY(100px);
  transition: transform 0.9s ease;
}
html body .container .menu-hero-image.active {
  transform: translateY(0);
}
html body .container .menu-hero-image h1 {
  font-size: 5rem;
  font-weight: normal;
}
html body .container .menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
  margin-bottom: 10em;
}
html body .container .menu-container h2 {
  margin: 2em;
  font-size: 4rem;
  text-align: center;
  padding: 1em;
  transform: translateY(100px);
  transition: transform 0.9s ease;
}
html body .container .menu-container h2.active {
  transform: translateY(0);
}
html body .container .menu-container img {
  width: 80%;
  height: 80%;
  border-radius: 2px;
}
html body .container .menu-container .images-wrapper {
  margin: 2em;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  transform: translateY(100px);
  transition: transform 0.9s ease;
}
html body .container .menu-container .images-wrapper.active {
  transform: translateY(0);
}
html body .container .menu-container .images-wrapper div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 36em;
  height: 24em;
}
html body .container .menu-container .images-wrapper div img {
  border-radius: 2px;
}
html footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  width: 100%;
  height: 3em;
  padding: 1em;
}

/* MOBILE */
@media screen and (min-width: 320px) {
  html {
    font-size: 50%;
  }
  html header .logo {
    display: none;
  }
  html header .hamburger {
    position: fixed;
    left: 0;
    top: 10px;
    z-index: 30;
    padding: 1em;
    width: 40px;
    height: 40px;
  }
  html header .hamburger:hover {
    cursor: pointer;
  }
  html header .hamburger div {
    position: relative;
    width: 100%;
    height: 4px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    border-radius: 5px;
  }
  html header .hamburger div::before, html header .hamburger div::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background: black;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
  }
  html header .hamburger div::before {
    transform: translateY(-8px);
  }
  html header .hamburger div::after {
    transform: translateY(8px);
  }
  html header .hamburger.clicked div {
    transform: translateX(-50px);
    background-color: transparent;
  }
  html header .hamburger.clicked div::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  html header .hamburger.clicked div::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
  html header .social-media {
    flex-direction: column;
    position: fixed;
    right: 15px;
    top: 10px;
    gap: 0.5em;
  }
  html header .main-navigation {
    background-color: burlywood;
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.3s ease;
  }
  html header .main-navigation ul {
    padding: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8em;
  }
  html header .main-navigation ul li {
    padding: 1em;
    list-style-type: none;
  }
  html header .main-navigation.show {
    transform: translateX(0);
    opacity: 1;
  }
  @-webkit-keyframes fadeIn {
    0% {
      transform: translateX(30%);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes fadeIn {
    0% {
      transform: translateX(30%);
    }
    100% {
      transform: translateX(0);
    }
  }
  html header .main-navigation.show ul li {
    -webkit-animation: fadeIn ease-in-out 0.2s;
            animation: fadeIn ease-in-out 0.2s;
  }
  html header .main-navigation.show ul li:nth-child(1) {
    -webkit-animation-delay: 100ms;
            animation-delay: 100ms;
  }
  html header .main-navigation.show ul li:nth-child(2) {
    -webkit-animation-delay: 200ms;
            animation-delay: 200ms;
  }
  html header .main-navigation.show ul li:nth-child(3) {
    -webkit-animation-delay: 300ms;
            animation-delay: 300ms;
  }
  html header .main-navigation.show ul li:nth-child(4) {
    -webkit-animation-delay: 400ms;
            animation-delay: 400ms;
  }
  html main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  html main .heading-section {
    margin-top: 10em;
  }
  html .content-wrapper,
html .feed-images {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  html .location-container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90vw;
  }
  html .location-container .map-container {
    width: 80%;
  }
}
@media screen and (min-width: 374px) {
  html {
    font-size: 60%;
  }
  html header .main-navigation ul {
    gap: 10em;
  }
}
@media screen and (min-width: 480px) {
  html {
    font-size: 70%;
  }
  html header .hamburger {
    width: 8%;
  }
}
/* TABLET */
@media screen and (min-width: 768px) and (orientation: portrait) {
  html {
    font-size: 85%;
  }
  html header .hamburger {
    width: 7%;
  }
  html header .main-navigation ul {
    gap: 14em;
  }
}
@media screen and (min-width: 992px) {
  html {
    font-size: 95%;
  }
  html header .logo {
    display: block;
    z-index: 10;
  }
  html header .logo:hover {
    cursor: pointer;
  }
  html header .hamburger {
    visibility: hidden;
    display: none;
  }
  html header .main-navigation {
    position: relative;
    width: auto;
    left: -150px;
    min-height: auto;
    visibility: visible;
    opacity: 1;
    transform: initial;
    background-color: transparent;
    z-index: 0;
  }
  html header .main-navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6em;
    height: 5em;
  }
  html header .main-navigation ul li {
    list-style-type: none;
  }
  html header .main-navigation ul li a {
    font-size: 0.9rem;
  }
  html header .main-navigation ul li a:hover {
    cursor: pointer;
  }
  html main {
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 4em;
  }
  html main .heading-section .heading .heading-title {
    font-size: larger;
  }
}
/* LARGE SCREENS */
@media screen and (min-width: 1200px) {
  html {
    font-size: 100%;
  }
  html header .main-navigation {
    left: -200px;
  }
  html header .main-navigation ul {
    gap: 2.5em;
  }
  html header .main-navigation ul li {
    font-size: 4rem;
  }
  html header .social-media {
    margin-top: 1em;
    flex-direction: row;
    float: right;
  }
}
@media screen and (min-width: 1920px) {
  html {
    font-size: 140%;
  }
  html header .main-navigation {
    left: -200px;
  }
  html header .main-navigation ul {
    gap: 4em;
  }
}
@media screen and (min-width: 2559px) {
  html {
    font-size: 200%;
  }
  html header .main-navigation {
    left: -400px;
  }
  html header .main-navigation ul {
    gap: 3em;
  }
}/*# sourceMappingURL=style.css.map */