.about-hero-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../images/about-hero.jpg');
  background-size: cover;
  background-position: center;
  height: 80vh;
  width: 100vw;
  margin-top: -55px;

  h1 {
    font-size: 5rem;
    font-weight: normal;
    transform: translateY(100px);
    transition: transform 0.9s ease;

    &.active {
      transform: translateY(0);
    }
  }
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10em;

  h2 {
    font-size: 4rem;
    margin-bottom: 2em;
  }

  .history {
    margin: 5em;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    transform: translateY(100px);
    transition: transform 0.9s ease;

    &.active {
      transform: translateY(0);
    }

    .content-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2em;

      p {
        line-height: 180%;
        font-size: 1.2rem;
        align-self: flex-start;
      }

      .image {
        width: 65%;
        height: 65%;
        border-radius: 2px;
      }
    }
  }

  .feed {
    margin: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    transform: translateY(100px);
    transition: transform 0.9s ease;

    &.active {
      transform: translateY(0);
    }

    p {
      line-height: 180%;
      font-size: 1.2rem;
      text-align: center;
    }

    .feed-images {
      padding: 3em;
      display: flex;
      flex-wrap: wrap;
      gap: 4em;

      img {
        width: 80%;
        height: 80%;
        border-radius: 2px;
      }
    }
  }
}
