.contact-hero-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../images/contact.jpg');
  background-size: cover;
  background-position: center;
  height: 80vh;
  width: 100vw;
  margin-top: -55px;
  transform: translateY(100px);
  transition: transform 0.9s ease;

  &.active {
    transform: translateY(0);
  }

  h1 {
    font-size: 5rem;
    font-weight: normal;
  }
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5em;
  margin-top: 4em;
  margin-bottom: 20em;
  transform: translateY(100px);
  transition: transform 0.9s ease;

  &.active {
    transform: translateY(0);
  }

  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    h2 {
      margin: 1em;
      font-size: 4rem;
    }

    .message {
      font-size: 1.3rem;
      font-weight: bold;
      padding: 1em;
    }

    .contact-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1em;
      width: 70%;
      position: relative;
      z-index: 8;

      input,
      textarea {
        font-family: 'Josefin Sans', sans-serif;
        border-radius: 2px;
        margin: 0.5em;
        padding: 1em;
        border: 0.5px solid gray;
      }

      textarea {
        resize: none;
      }

      .submit-btn {
        border: none;
        padding: 1.5em;
        border-radius: 2px;
        font-weight: bold;
        box-shadow: 0 0 5px gray;
        background-color: lightgray;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        transition: background-color 0.4s ease;

        &:hover {
          background-color: gainsboro;
          cursor: pointer;
        }
      }
    }
  }

  .location-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      margin: 2em;
      font-size: 4rem;
    }

    .location-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 6em;

      .map-container {
        position: relative;
        z-index: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
