.heading-section {
  padding: 5em;

  .heading {
    width: 100%;
    margin-bottom: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .heading-title {
      font-size: 6rem;
      color: white;
      text-shadow: 1px 1px 1px gray;
      transform: translateX(-100%);
      transition: transform 0.8s ease;

      &.slide {
        transform: translateX(0);
      }
    }

    .heading-subtitle {
      margin-top: -2em;
      color: white;
      font-size: 1.5rem;
      text-align: center;
      text-shadow: 1px 1px 1px gray;
      transform: translateX(100%);
      transition: transform 0.8s ease;

      &.slide {
        transform: translateX(0);
      }
    }
  }
}
