.heading-section {
  display: flex;
  justify-content: center;
  align-items: center;

  .heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(-200px);
    transition: transform 0.8s ease;

    &.active {
      transform: translateX(0);
    }

    .heading-title {
      font-size: 6rem;
      color: white;
      text-shadow: 1px 1px 1px gray;
    }

    .heading-subtitle {
      margin-top: -1.5em;
      color: white;
      font-size: 1.5rem;
      text-shadow: 1px 1px 1px gray;
    }

    .homepage-btn {
      background-color: #a0522d;
      box-shadow: 0 0 8px #282828;
      color: whitesmoke;
      font-weight: bold;
      width: 30%;
      margin-top: 2em;
      padding: 1em;
      text-decoration: none;
      border: none;
      border-radius: 5px;
      text-align: center;
      transition: background-color 0.6s ease;

      &:hover {
        background-color: burlywood;
      }
    }
  }
}
